<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a id="brand" class="brand" href="#home">
          Abbott 5 Foundation
        </a>
        <li>
          <a href="#">
            Mission
          </a>
        </li>
        <li>
          <a href="#">
            Donate
          </a>
        </li>
        <li>
          <a href="#">
            A5 Projects
          </a>
        </li>
        <li class="">
          <a href="#">
            Our Story
          </a>
        </li>
        <li class="">
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>